
/*FOOTER*/

footer {
  background: #16222A;
  background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
  background: linear-gradient(59deg, #3A6073, #16222A);
  color: white;
  margin-top:100px;
  
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
  text-decoration: none;
}

footer a:hover {
  color: goldenrod;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;

}

.footer-middle {
  padding-top: 2em;
  color: white;
}
.icons{
    padding: 25px;
    display:flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
    
}
.d-flex
{
     display: flex;
     flex-direction: row;
     column-gap: 10px;
}
.btn{
    font-size: 12px;
padding: 2px;
width:90px;
height: 35px;
}
.icoSearch{
    padding-right: 20px;
    color: white;
}
.navbar{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
