.container{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
h1{
    color: white;
    padding-left: 180px;
    padding-top: 50px;
    padding-bottom: 5px;
}
.box{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    border: 1px solid white;
    width: 95%;
    height: 13px;
    border-radius: 7px;
    padding: 15px;
    font-size: 15px;
    color: white;
}
.box3{
    background-color: white;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    border: 1px solid white;
    width: 95%;
    height: 13px;
    border-radius: 7px;
    padding: 15px;
    font-size: 15px;
    color:#1a53ff;
    font-weight: bolder;
    
}
.option{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    padding-left: 150px;
}
.a1{
    color:#1a53ff;
    font-weight: bolder;
}
a{
    color: white;
}
input{
    width: 30px;
    height: 15px;

}
.big-container{
    display: flex;
    flex-direction: row;
    margin: 50px 180px;
    column-gap: 30px;
    padding-top:-20px;
}
.box2{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border: 1px solid white;
    width: 30%;
    height: 15%;
    padding: 30px;
    border-radius: 20px;
    align-items: center;
}
.circle{
    width:100px;
    height:100px;
    border-radius: 50px;
    border: 1px solid white;
    background-color:#1a53ff;
}
.check{
    width:200px;
    height: 30px;
    border: 1px solid white;
    color: white;
    text-align: left;
    padding-left: 10px;
    background-color:#1a53ff;
    border-radius: 20px;
}

.check2{
    width:200px;
    height: 50px;
    border: 1px solid white;
    color: white;
    text-align: left;
    padding-left: 10px;
    background-color:#1a53ff;
    border-radius: 20px;
}
.button{
    background-color:#1a53ff;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    width:100px;
    height: 25px;
}

.button1{
    background-color:white;
    border: 1px solid white;
    color: #1a53ff;
    border-radius: 10px;
    width:100px;
    height: 25px;
    font-weight: bolder;
}