*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --heading: 'Montserrat', sans-serif;
}

body{
    font-family: 'Raleway', sans-serif;
    background: #fff;
}

/* global styling */

img{
    width: 100%;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

hr{
    width: 95vw;
    margin: 0 auto;
}

/* header */

.top-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: #252525;
    color: #fff;
    padding: 20px 30px;
}

.top-head .fas{
    font-size: 2rem;
    cursor: pointer;
}

/******* js related styling *****/

.times-btn{
    display: none;
}

.nav-bar{
    background: #333;
    height: 0;
    overflow: hidden;
    font-size: 18px;
}

.show-nav{
    height: auto;
}

/********************/
.social-icons{
    display: none;
}

.nav-bar ul li{
    text-align: center;
    display: block;
    padding: 15px 0;
    transition: all 1s ease-in-out;
}

.nav-bar ul li:hover{
    background: #0e0e0e;
}

.nav-bar ul li a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-bar ul li a:hover{
    text-decoration: underline;
    color: tomato;
}
.catagory{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
justify-content:center ;
background:linear-gradient(#E02401,#3F0713);
}
.button_cat{
    border-radius: 25px;
    padding: 15px;
    font-size: 20px;
    font-weight: 300;
    background:linear-gradient(#E02401,#3F0713);
    color: white;
    text-decoration: none;
}
.button_cat1{
    border-radius: 25px;
    padding: 15px;
    font-size: 20px;
    font-weight: 300;
    background:linear-gradient(#E02401,#3F0713);
    color:tomato;
    text-decoration: underline;
}

.button_cat:hover{
    text-decoration: underline;
    color:tomato;
}

.button_cat1:hover{
    text-decoration: underline;
    color:tomato;
}

/* social -icons */
.marq{
    margin-top: -10px;
    margin-bottom: 5px;
    background: linear-gradient(#3399FF,#3B0000);
    padding: 6px;
    font-size: 20px;
    color: white;
}
footer{
    background:linear-gradient(#E02401,#3F0713);
    color: #f3f3f3;
    padding: 30px;
    
}
.cat_name{
    margin-top: 10px;
    margin-left: 20px;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
}

footer h2{
    padding: 10px 0;
}

footer p{
    padding: 10px 0;
    line-height: 1.3;
}

.footer-left, 
.footer-right{
    margin: 0 20px;
}

footer > p{
    text-align: center;
    opacity: 0.8;
    margin-top: 20px;
}

.footer-right i{
    font-size: 1.8rem;
    color: white;
}

.footer-right input{
    font-size: 18px;
    border: none;
    background: transparent;
    outline: none;
    color: white;
    padding-right: 10px;
    width: 100%;
}

.footer-right div{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 200px;
    padding: 10px 0;
    border-bottom: 1.6px solid white;
}
.footer-right ::placeholder{
    color: white;
}
.main-container-right{
    padding: 50px 20px;
}

.main-container-right > h2{
    padding: 15px 0 15px 30px;
}

.main-container-right article{
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    padding: 25px 0;
    border-bottom: 1px solid #7ac64d;
    margin-top:-80px;
}

.main-container-right img{
    width: 300px;
    height: 200px;
    align-self: center;
}

.main-container-right h4{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    align-self: center;
}

.main-container-right article h2{
    font-size: 18px;
    padding: 10px 0;
    font-family: var(--heading);
}

.main-container-right article p{
    font-size: 15px;
    font-weight: 300;
}

.main-container-right article div{
    margin-right: 10px;
}

.main-container-right article a{
    padding: 15px 0;
    display: block;
    transition: all 0.5s;
}

.main-container-right article span{
    transition: padding-left 0.5s;
}

.main-container-right article a:hover span{
    padding-left: 5px;
}

.main-container-right article a:hover{
    color: #7ac64d;
}
@media(max-width: 460px){
    .hot-topic-content h2{
        font-size: 16px;
    }

    .main-container-right article{
        display: block;
    }

    .main-container-right article img{
        display: none;
    }


}

@media(max-width: 500px){
    .main-container-right article{
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr;
    }

    .main-container-right article h4{
        grid-row: 1/2;
        grid-column: 1/2;
        align-self: flex-start;
    }

    .main-container-right article img{
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .main-container-right article div{
        grid-row: 1/3;
        grid-column: 2/3;
    }
}

@media(min-width: 800px){
    /* nav */
    .ham-btn, .times-btn{
        display: none!important;
    }

    .navigation-container{
        display: flex;
        background:linear-gradient(#E02401,#3F0713);
        align-items: center;
        flex-wrap: wrap;
    }

    .top-head{
        flex: 0 0 15%;
        background:linear-gradient(#E02401,#3F0713);


    }

    .nav-bar{
        flex: 1 0 auto;
        height: 100%;
        background: transparent;
    }

    .nav-bar nav ul{
        display: flex;
        justify-content: center;
    }
    .nav-bar nav ul li{
        padding-right: 30px;
    }

    .nav-bar nav ul li:hover{
        background: none;
    }
    .social-icons{
        flex: 0 1 30%;
        display: flex;
        flex-direction: row;
        column-gap: 30px;       
         margin: 0 auto;
    }

    .social-icons .fab{
        color: #fff;
        font-size: 2rem;
    }
    .social-icons ul{
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
    .social-icons ul li{
        padding: 20px;
    }

    

    .footer-container{
        display: flex;
    }

    .footer-right,
    .footer-left{
        flex: 1;
    }
}



